Descontinuado/a7D.PDV.SATServiceTest/Service References/SAT_SERVICE_UI/SAT.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SAT" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:547/SAT.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:547/SAT.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:547/SAT.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/a7D.PDV.SAT.WCF" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISAT_EnviarVenda_InputMessage">
    <wsdl:part name="parameters" element="tns:EnviarVenda" />
  </wsdl:message>
  <wsdl:message name="ISAT_EnviarVenda_OutputMessage">
    <wsdl:part name="parameters" element="tns:EnviarVendaResponse" />
  </wsdl:message>
  <wsdl:message name="ISAT_ConsultarStatus_InputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarStatus" />
  </wsdl:message>
  <wsdl:message name="ISAT_ConsultarStatus_OutputMessage">
    <wsdl:part name="parameters" element="tns:ConsultarStatusResponse" />
  </wsdl:message>
  <wsdl:message name="ISAT_Log_InputMessage">
    <wsdl:part name="parameters" element="tns:Log" />
  </wsdl:message>
  <wsdl:message name="ISAT_Log_OutputMessage">
    <wsdl:part name="parameters" element="tns:LogResponse" />
  </wsdl:message>
  <wsdl:portType name="ISAT">
    <wsdl:operation name="EnviarVenda">
      <wsdl:input wsaw:Action="http://tempuri.org/ISAT/EnviarVenda" message="tns:ISAT_EnviarVenda_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISAT/EnviarVendaResponse" message="tns:ISAT_EnviarVenda_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ConsultarStatus">
      <wsdl:input wsaw:Action="http://tempuri.org/ISAT/ConsultarStatus" message="tns:ISAT_ConsultarStatus_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISAT/ConsultarStatusResponse" message="tns:ISAT_ConsultarStatus_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Log">
      <wsdl:input wsaw:Action="http://tempuri.org/ISAT/Log" message="tns:ISAT_Log_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISAT/LogResponse" message="tns:ISAT_Log_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_ISAT" type="tns:ISAT">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="EnviarVenda">
      <soap:operation soapAction="http://tempuri.org/ISAT/EnviarVenda" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ConsultarStatus">
      <soap:operation soapAction="http://tempuri.org/ISAT/ConsultarStatus" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Log">
      <soap:operation soapAction="http://tempuri.org/ISAT/Log" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SAT">
    <wsdl:port name="BasicHttpBinding_ISAT" binding="tns:BasicHttpBinding_ISAT">
      <soap:address location="http://localhost:547/SAT.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>