Descontinuado/a7D.PDV.SATServiceTest/Service References/SAT_SERVICE_UI/SAT.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/a7D.PDV.SAT.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/a7D.PDV.SAT.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="EnviarVendaRequest">
    <xs:sequence>
      <xs:element minOccurs="0" name="CodigoDeAtivacao" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DadosVenda" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="NumeroSessao" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnviarVendaRequest" nillable="true" type="tns:EnviarVendaRequest" />
  <xs:complexType name="EnviarVendaResponse">
    <xs:sequence>
      <xs:element minOccurs="0" name="Erro" type="xs:boolean" />
      <xs:element minOccurs="0" name="Retorno" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="EnviarVendaResponse" nillable="true" type="tns:EnviarVendaResponse" />
</xs:schema>