Fonte/a7D.PDV.BLL/Web References/Ativacoes/wsutil.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="Erro">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="chaveAtivacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="aplicacao" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="versao" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="idPDV" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="codigo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="erro" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stackTrace" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dados" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ErroResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ErroResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFE">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="destinatario" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeFantasia" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="cnpj" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataDe" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="dataAte" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="nomeArquivo" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="bytesArquivo" type="s:base64Binary" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="CFEResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="CFEResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EnviarNFEAoCliente">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dados" type="tns:DadosNfeCliente" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="DadosNfeCliente">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="1" name="CPFCNPJCliente" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NomeFantasiaEmissor" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ChaveAcessoNF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="DataEmissao" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="NumeroNota" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="ValorTotal" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="Email" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="UF" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="XMLBase64" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="EnviarNFEAoClienteResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="EnviarNFEAoClienteResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="ErroSoapIn">
    <wsdl:part name="parameters" element="tns:Erro" />
  </wsdl:message>
  <wsdl:message name="ErroSoapOut">
    <wsdl:part name="parameters" element="tns:ErroResponse" />
  </wsdl:message>
  <wsdl:message name="CFESoapIn">
    <wsdl:part name="parameters" element="tns:CFE" />
  </wsdl:message>
  <wsdl:message name="CFESoapOut">
    <wsdl:part name="parameters" element="tns:CFEResponse" />
  </wsdl:message>
  <wsdl:message name="EnviarNFEAoClienteSoapIn">
    <wsdl:part name="parameters" element="tns:EnviarNFEAoCliente" />
  </wsdl:message>
  <wsdl:message name="EnviarNFEAoClienteSoapOut">
    <wsdl:part name="parameters" element="tns:EnviarNFEAoClienteResponse" />
  </wsdl:message>
  <wsdl:portType name="wsUtilSoap">
    <wsdl:operation name="Erro">
      <wsdl:input message="tns:ErroSoapIn" />
      <wsdl:output message="tns:ErroSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="CFE">
      <wsdl:input message="tns:CFESoapIn" />
      <wsdl:output message="tns:CFESoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EnviarNFEAoCliente">
      <wsdl:input message="tns:EnviarNFEAoClienteSoapIn" />
      <wsdl:output message="tns:EnviarNFEAoClienteSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="wsUtilSoap" type="tns:wsUtilSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Erro">
      <soap:operation soapAction="http://tempuri.org/Erro" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CFE">
      <soap:operation soapAction="http://tempuri.org/CFE" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNFEAoCliente">
      <soap:operation soapAction="http://tempuri.org/EnviarNFEAoCliente" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="wsUtilSoap12" type="tns:wsUtilSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Erro">
      <soap12:operation soapAction="http://tempuri.org/Erro" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CFE">
      <soap12:operation soapAction="http://tempuri.org/CFE" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EnviarNFEAoCliente">
      <soap12:operation soapAction="http://tempuri.org/EnviarNFEAoCliente" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="wsUtil">
    <wsdl:port name="wsUtilSoap" binding="tns:wsUtilSoap">
      <soap:address location="http://apipdvseven.azurewebsites.net/wsUtil.asmx" />
    </wsdl:port>
    <wsdl:port name="wsUtilSoap12" binding="tns:wsUtilSoap12">
      <soap12:address location="http://apipdvseven.azurewebsites.net/wsUtil.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>